@(vacationForm: Form[views.formdata.VacationFormData])

@import views.html.bootstrap3._
@import helper._

@main("Holiday Planner") {

<div class="container">
<div class="well">
@form(routes.Application.postPlanner(), 'class -> "form-horizontal") {


	<fieldset>

	<div id="legend">
		<legend>Dream Vacation</legend>
	</div>
	
	
	@text(vacationForm("location"),
		  label="Location",
		  placeholder="Somewhere on earth",
		  glyphicon="globe",
		  help = "Please enter a desired destination (optional)")
		  
	@text(vacationForm("start_date"),
		  label="Start Date",
		  placeholder="MM-DD-YYYY",
		  glyphicon="calendar",
		  help = "Please enter a start date (optional)")
		  
	@text(vacationForm("end_date"),
		  label="End Date",
		  placeholder="MM-DD-YYYY",
		  glyphicon="calendar",
		  help = "Please enter an end date (optional)")
		  
	@text(vacationForm("max_price"),
		  label="Max Price",
		  placeholder="$0.00",
		  glyphicon="usd",
		  help = "Enter the largest sum of money you're willing to pay (optional)")
		  
	@text_area(vacationForm("keywords"),
			  label="Keywords",
			  placeholder="Beach, Relaxing, etc.",
			  glyphicon="comment",
			  help = "Enter some keywords pertaining to the kind of vacation you want.")
		  
	<div class="form-group">
    	<div class="col-sm-offset-2 col-sm-10">
      		<button id="submit" type="submit" value="Submit" class="btn btn-primary">Submit</button>
      		<button id="cancel" class="btn cancel">Cancel</button>
    	</div>
  	</div>
	</fieldset>
	
}
</div>
</div>

}